!!!
%html
  %head
    %title ⅈntressikalkulaator
    %meta{ :charset => "utf-8" }
    %meta{ :content => "DR Test App", :name => "description" }
    %meta{ :content => "M.Sokk", :name => "author" }
    %meta{ :content => "width=device-width, initial-scale=1.0", :name => "viewport" }
    = stylesheet_link_tag "reset"
    = stylesheet_link_tag "main"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,bold,bolditalic&v1"
    = csrf_meta_tag
  %body
    = yield
    = javascript_include_tag "jquery-1.6.1.min"
    = javascript_include_tag "underscore-min"
    = javascript_include_tag "backbone-min"
    = javascript_include_tag "highcharts"
    = javascript_include_tag "jquery.tmpl.min"
    = javascript_include_tag "main"
